/* Fonts */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/robotomedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/robotomedium.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/robotobold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/robotobold.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-cod-gray: #283136;
  --basic-charcoal: #444444;
  --basic-dim-gray: #666666;
  --basic-whisper: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-jade: #00CA74;
  --basic-golden: #EFC849;

  --special-dark: rgba(0, 1, 1, 0.1);
  --special-gray: rgba(0,0,0,0.3);
  --special-white: rgba(0, 0, 0, 0.0001);
  --special-dark-red: #E74246;
  --special-extra-dark-red: #D7373B;
  --special-dark-jade: #00BC6C;
  --special-extra-dark-jade: #00AA62;
  --special-dark-golden: #EAB534;
  --special-extra-dark-golden: #E5A722;
  --special-gainsboro: #DFDFDF;
  --special-light-gray: #D5D5D5;
  --special-border-gray: #DBDBDB;
  --special-popup-gray: #C1C1C1;
  --special-gradient-gray: #E1E1E1;
  --special-gradient-red: #E74246;
  --special-gradient-dark-red: #D7373B;

  --grid-scarlet:  rgba(255, 36, 0, 0.3);
  --grid-indigo: rgba(75, 0, 130, 0.3);
  --grid-myrtle: rgba(0, 64, 0, 0.3);
  --grid-magenta: rgba(255 ,0, 255, 0.3);
  --grid-yellow: rgba(255, 251, 2, 0.7);
  --grid-red-orange: rgba(255, 53, 53, 0.3);
  --grid-aqua: rgba(2, 255, 242, 0.3);
}

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-cod-gray);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content auto min-content;
  align-content: start;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-areas:
    "page-title page-title page-title"
    "filters filters1 filters1"
    "filters catalog catalog";
  grid-template-columns: 400px 1fr;
}

.page-catalog .page-title {
  grid-area: page-title;

  outline: 5px solid var(--grid-scarlet);
  outline-offset: -5px;
}

/* Main header */

.main-header {
  padding-top: 50px;
  background-color: var(--basic-whisper);

  outline: 5px solid var(--grid-indigo);
  outline-offset: -5px;
}

/* Main navigation  */

.main-navigation {
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 160px 1fr min-content; */
  width: 1160px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);

  outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px;
}

/* Logo */

.main-header-logo {
  width: 160px;
  height: 65px;

  outline: 5px solid  var(--grid-magenta);
  outline-offset: -5px;
}
/* Почему в этом блоке автоматически появляется нижний отступ в 10px  */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  outline: 5px solid  var(--grid-magenta);
  outline-offset: -5px;
}
/* не отцентрировал блок до конца*/

.site-navigation li {
  padding-right: 45px;
}
.site-navigation li:first-child {
  padding-left: 45px;
}

.site-navigation a,
.cart a {
  text-decoration: none;
  color: var(--basic-black);
}

/* свойство для активной странице */
.active-page-shop a,
.active-page-blank a{
  color: var(--basic-black);
  border-bottom: 2px solid var(--basic-red);
 }

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.cart a:active {
  color: var(--special-gray);
}

.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px;
}

/* Main */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  outline: 5px solid var(--grid-yellow);
  outline-offset: -5px;
}

/* Services */

.services {
  margin-top: 80px;
  margin-bottom: 80px;

  outline: 5px solid var(--grid-red-orange);
  outline-offset: -5px;
}

.list-services {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;

  outline: 5px solid var(--grid-indigo);
  outline-offset: -5px;
}

.item-service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  outline: 5px solid var(--grid-aqua);
  outline-offset: -5px;
}

.item-service h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.service-picture {
  order: -1;
  width: 300px;
  height: 146px;
}

.service-picture.laptop {
  background-image: url(../img/illustration-1.png);
}

.service-picture.cellphone {
  background-image: url(../img/illustration-2.png);
}

.service-picture.board-slide {
  background-image: url(../img/illustration-3.png);
}

/* Button */

.button {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button-service-web:hover,
.button-service-web:focus,
.button-location:hover,
.button-location:focus {
  background-color: var(--special-dark-red);
}

.button span:active {
  opacity: 0.3;
  mix-blend-mode: screen;
}

.button-service-web:active,
.button-location:active {
  background-color: var(--special-extra-dark-red);
  box-shadow: inset 0px 3px 0px var(--special-dark);
}

.button-service-app {
  background-color: var(--basic-jade);
}

.button-service-app:hover,
.button-service-app:focus {
  background-color: var(--special-dark-jade);
}

.button-service-app:active {
  background-color: var(--special-extra-dark-jade);
  box-shadow: inset 0px 3px 0px var(--special-dark);
}

.button-service-present {
  background-color: var(--basic-golden);
}

.button-service-present:hover,
.button-service-present:focus {
  background-color: var(--special-dark-golden);
}

.button-service-present:active {
  background-color: var(--special-extra-dark-golden);
  box-shadow: inset 0px 3px 0px var(--special-dark);
}

/* About company */

.about-company {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 73px 0;

  outline: 5px solid var(--grid-scarlet);
  outline-offset: -5px;
}

.about-company-developer {
  outline: 5px solid var(--grid-aqua);
  outline-offset: -5px;
}

.about-us {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-order {
  font-weight: 700;
  text-transform: uppercase;
}

.about-company-statistics {
  outline: 5px solid var(--grid-indigo);
  outline-offset: -5px;
}

.caption {
  font-weight: 700;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
}

.list-advantages-number {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.list-advantages-number sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

/* Main partners */

.partners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 180px;
  margin: 0;
  padding: 0;
  list-style: none;

  outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px;
}

.item-partner {
  align-self: center;
  text-align: center;

  outline: 5px solid var(--grid-magenta);
  outline-offset: -5px;
}

.item-partner img {
  opacity: 0.2;
}

.item-partner img:hover,
.item-partner img:focus {
  opacity: 1;
}

.item-partner img:active {
  opacity: 0.1;
}

/* Inner page */

.page-title {
  margin: 0;
  padding-top: 72px;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-whisper);
}

/* Filters */

.filters {
  grid-area: filters;

  outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px;
}

.filters1{
  grid-area: filters1;

  outline: 5px solid var(--grid-indigo);
  outline-offset: -5px;
}
/* Здесь будет форма фильтра */

/* Catalog */

.catalog {
  grid-area: catalog;
  outline: 5px solid var(--grid-aqua);
  outline-offset: -5px;
}
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* outline: 5px solid  rgba(10, 255, 2, 0.3);
  outline-offset: -5px; */
}

.catalog-item {
  margin: 0;
  padding: 0;
  background-color: var(--basic-whisper);
  /* outline: 5px solid  rgba(2, 6, 255, 0.3);
  outline-offset: -5px; */
}

.catalog-item-sample h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-item-sample h3:hover,
.catalog-item-sample h3:focus {
  color: var(--basic-red);
}

.catalog-item-sample h3:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.catalog-item-sample p {
  line-height: 18px;
  color: var(--basic-dim-gray);
}

/* Button-catalog */

.button-catalog:hover,
.button-catalog:focus {
  background-color: var(--special-dark-red);
}

.button-catalog:active {
  background-color: var(--special-extra-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-whisper);
  border-radius: 3px;
}

.pagination-item-current a {
  background-color: var(--special-white);
  border: 3px solid var(--special-border-gray);
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item-current a:hover,
.pagination-item a:focus,
.pagination-item-current a:focus {
  background-color: var(--special-gainsboro);
  border: none;
}

.pagination-item a:active,
.pagination-item-current a:active {
  background-color: var(--special-light-gray);
  box-shadow: inset 0px 3px 0px var(--special-dark);
  opacity: 0.3;
  mix-blend-mode: normal;
 }  /*Принажатии кнопки, хочеться болле т>мный фон. Меня вводит сомнения как работает свойство mix-blend-mode*/

/* Main footer */
/* Location */

.container-footer {
  margin: 0 auto;

  outline: 5px solid var(--grid-yellow);
  outline-offset: -5px;
}


.location {
  display: grid;
  grid-template-columns: 1fr;
  width: 1440px;
  height: 416px;
  margin: 0 auto;
  background-image: url("../img/map.png"); /* Нужно оцентрировать карту */
  background-position: center;
  background-repeat: no-repeat;

  outline: 5px solid var(--grid-red-orange);
  outline-offset: -5px;
}

.location-company {
  width: 319px;
  height: 308px;
  margin: 0 140px;
  padding-top: 49px;
  padding-left: 50px;
  align-self: center;
  box-sizing: border-box;
  background-color: var(--basic-white);

  outline: 5px solid var(--grid-magenta);
  outline-offset: -5px;
}

.location-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.location-address,
.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-dim-gray);
}

/* Main footer */
/* Social-networks */

.social-networks {
  width: 1160px;
  height: 217px;
  display: grid;
  grid-template-columns: 400px 1fr;
  margin: 0 auto;

  outline: 5px solid var(--grid-aqua);
  outline-offset: -5px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  outline: 5px solid var(--grid-indigo);
  outline-offset: -5px;
}

.social li {
  padding-right: 9px;
}

.social-discount {
  align-self: center;
  color: var(--basic-black);

  outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px;
}

.social-discount p:first-child{
  margin: 0;
  padding-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

}

.social-discount p:last-child {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-charcoal);
}

/* Social button */

.social-button svg {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  text-decoration: none;
  color: var(--basic-white);
  background: linear-gradient(0deg, var(--special-gradient-gray), var(--special-gradient-gray)), var(--basic-white);
}

.social li:hover,
.social li:focus {
  background: linear-gradient(0deg, var(--special-gradient-red), var(--special-gradient-red)), var(--basic-white);
}

.social-button svg:active {
  opacity: 0.3;
  mix-blend-mode: screen;
}

.social li:active {
  background: linear-gradient(0deg, var(--special-gradient-dark-red), var(--special-gradient-dark-red)), var(--basic-white);
  box-shadow: inset 0px 3px 0px var(--special-dark);
}

.visually-hidden {
  visibility: hidden;
  display: none;
}
