/* Fonts */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/roboto.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url("../fonts/robotomedium.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/robotomedium.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/robotobold.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/robotobold.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-cod-gray: #283136;
  --basic-charcoal: #444444;
  --basic-dim-gray: #666666;
  --basic-whisper: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-jade: #00CA74;
  --basic-golden: #EFC849;

  --special-dark: rgba(0, 1, 1, 0.1);
  --special-gray: rgba(0,0,0,0.3);
  --special-white: rgba(0, 0, 0, 0.0001);
  --special-shadow: rgba(0, 0, 0, 0.15);
  --special-shadow-madal: rgba(0, 0, 0, 0.25);
  --special-black: #231F20;
  --special-matterhorn: #4D4D4D;
  --special-gray-sort: #A6A6A6;
  --special-pattens-blue: #D7DCDE;
  --special-white-smoke: rgba(242,242,242,1);
  --special-dark-red: #E74246;
  --special-extra-dark-red: #D7373B;
  --special-jade: #00ca74;
  --special-dark-jade: #00BC6C;
  --special-extra-dark-jade: #00AA62;
  --special-dark-golden: #EAB534;
  --special-extra-dark-golden: #E5A722;
  --specila-pattens-blue: #D7DCDF;
  --special-gainsboro: #DFDFDF;
  --special-light-gray: #D5D5D5;
  --special-dark-gray: #ABABAB;
  --special-border-gray: #DBDBDB;
  --special-popup-gray: #C1C1C1;
  --special-gradient-gray: #E1E1E1;
  --special-gradient-red: #E74246;
  --special-gradient-dark-red: #D7373B;
  --special-wild-watermelon:rgba(251, 86, 90, 0.3);

  --grid-scarlet:  rgba(255, 36, 0, 0.3);
  --grid-indigo: rgba(75, 0, 130, 0.3);
  --grid-myrtle: rgba(0, 64, 0, 0.3);
  --grid-magenta: rgba(255 ,0, 255, 0.3);
  --grid-yellow: rgba(255, 251, 2, 0.7);
  --grid-red-orange: rgba(255, 53, 53, 0.3);
  --grid-aqua: rgba(2, 255, 242, 0.3);
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-cod-gray);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Grid for pages */

.container-catalog {
  display: grid;
  grid-template-areas:
    "filters sort sort"
    "filters catalog catalog";
  grid-template-columns: 400px 1fr;
}

.page-catalog .page-title {
  grid-area: page-title;
}

/* Main header */

.main-header {
  background-color: var(--basic-whisper);
}

/* Main navigation  */

.main-navigation {
  margin: 55px auto 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  /* outline: 5px solid var(--grid-yellow);
  outline-offset: -5px; */
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

/* Logo */

.main-header-logo {
  position: relative;
  top: -7px;
  min-width: 160px;
  height: 65px;
}

/* Site Navigation */

.site-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0;
  padding-right: 104px;
  list-style: none;
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.site-navigation a,
.cart-navigation a {
  display: block;
  padding: 20px 22px 20px 23px ;
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.cart-navigation a {
  padding-right: 0;
}

/* Cart Navigation */

.cart-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 170px;
  margin: 0;
  padding-left: 0px;
  list-style: none;
}

.cart-items {
  display: flex;
  align-items: center;
}

.cart-items a::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 100px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-items a {
  position: relative;
  justify-content: flex-end;
}

.site-navigation a,
.cart-navigation a {
  text-decoration: none;
  color: var(--basic-black);
}

/* свойство для активной странице */
.current-site-navigation a{
  position: relative;
 }

 .current-site-navigation a::after{
  position: absolute;
  top: 63px;
  left: 20%;
  content: "";
  width: 60%;
  height: 2px;
  background-color: var(--basic-red);
 }


.site-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
  color: var(--basic-red);
}

/* Неменяется лого

.main-header-logo:active img {
  opacity: 0.3;
} */

.site-navigation a:active,
.cart-navigation a:active {
  color: var(--special-gray);
}

/* Main */

/* Services */

.services {
  position: relative;
  margin-top: 78px;
  margin-bottom: 155px;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-red-orange);
  outline-offset: -5px; */
}

.list-services {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.item-service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-aqua);
  outline-offset: -5px; */
}

.item-service h3 {
  margin-top: 25px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.item-service p {
  margin-top: -8px;
}

.service-picture {
  order: -1;
  width: 300px;
  height: 146px;
}

.service-picture.laptop {
  background-image: url(../img/illustration-1.png);
}

.service-picture.cellphone {
  background-image: url(../img/illustration-2.png);
}

.service-picture.board-slide {
  background-image: url(../img/illustration-3.png);
}

/* Button */

.button {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  padding: 17px 0 15px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.item-service .button-service-app,
.item-service .button-service-web,
.item-service .button-service-present {
  margin-top: 16px;
  padding-right: 40px;
  padding-left: 39px;
}

.location .button-location {
  margin-top: 18px;
  padding-right: 45px;
  padding-left: 44px;
}

.button-service-web:hover,
.button-service-web:focus,
.button-location:hover,
.button-location:focus,
.slide-button:hover,
.slide-button:focus {
  background-color: var(--special-dark-red);
}

.button:active span{
  opacity: 0.3;
  mix-blend-mode: screen;
}

.button-service-web:active,
.button-location:active,
.slide-button:active {
  background-color: var(--special-extra-dark-red);
  box-shadow: inset 0px 3px 0px var(--special-dark);
}

.button-service-app {
  background-color: var(--basic-jade);
}

.button-service-app:hover,
.button-service-app:focus {
  background-color: var(--special-dark-jade);
}

.button-service-app:active {
  background-color: var(--special-extra-dark-jade);
  box-shadow: inset 0px 3px 0px var(--special-dark);
}

.button-service-present {
  background-color: var(--basic-golden);
}

.button-service-present:hover,
.button-service-present:focus {
  background-color: var(--special-dark-golden);
}

.button-service-present:active {
  background-color: var(--special-extra-dark-golden);
  box-shadow: inset 0px 3px 0px var(--special-dark);
}

/* About company */

.about-company {
  margin-bottom: 55px;
  /* outline: 5px solid var(--grid-scarlet);
  outline-offset: -5px; */
}

.wrapper-about-company {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 400px;
  margin-bottom: 25px;
  /* outline: 5px solid var(--grid-scarlet);
  outline-offset: -5px; */
}

.about-company::before {
  content: "";
  position: absolute;
  bottom: -45px;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-whisper);
}

.about-company::after {
  content: "";
  position: absolute;
  top: -20px;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-whisper);
}

.about-company-developer {
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-aqua);
  outline-offset: -5px; */
}

.about-us {
  margin: 0;
  padding-bottom: 17px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.map-wrapper {
  margin-top: -34px;
  padding-left: 40px;
  /* outline: 5px solid var(--grid-aqua);
  outline-offset: -5px; */
}

.about-order {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.list-capability {
  margin-top: 23px;
  padding: 0;
  list-style: none;
  /* outline: 5px solid var(--grid-magenta);
  outline-offset: -5px */
}

.item-capability {
  position: relative;
  margin-bottom: 24px;
  padding-left: 36px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.item-capability::before {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about-company-statistics {
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.advantages {
  width: 400px;
  padding-left: 37px;
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.caption {
  margin-top: -1px;
  padding-bottom: 28px;
  padding-left: 42px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.list-advantages-number {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.list-advantages-number td {
  padding-right: 9px;
  padding-bottom: 7px;
}

.list-advantages-number sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

/* .list-advantages-number sup:nth-child(odd) {
  padding-right: 9px;
} */

.list-advantages {
  line-height: 18px;
}

/* Main partners */

.main-partners {
  position: relative;
  margin-bottom: 69px;
  /* outline: 5px solid var(--grid-magenta);
  outline-offset: -5px; */
}
.main-partners::before {
  content: "";
  position: absolute;
  top: -6px;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-whisper);
}

.main-partners::after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-whisper);
}

.partners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 42px;
  margin: 0;
  padding: 0;
  list-style: none;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px; */
}

.item-partner {
  position: relative;
  height: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-magenta);
  outline-offset: -5px; */
}

.item-partner:first-child {
  padding-top: 5px;
  padding-left: 4px;
}

.item-partner:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 60px;
  right: -21px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-whisper);
}

.item-partner-line::after {
  display: none;
}

.item-partner a {
  /* outline: 5px solid var(--grid-magenta);
  outline-offset: -5px; */
}

.item-partner img {
  opacity: 0.2;
}

.item-partner img:hover,
.item-partner img:focus {
  opacity: 1;
}

.item-partner img:active {
  opacity: 0.1;
}

/* Inner page */

.page-title {
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-whisper);
}

.page-title-wrap {
  background-color: var(--basic-whisper);
}

/* Filters */

.filters {
  grid-area: filters;
  width: 330px;
  margin-top: 37px;
  padding-top: 18px;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px; */
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-whisper);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--specila-pattens-blue);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--special-jade);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-dark-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  height: 38px;
  padding: 0;
  /* margin-left: 10px; */
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-cod-gray);
  border: none;
  border-radius: 5px;
  background-color: var(--basic-whisper);
}

.min-price input,
.max-price input {
  margin-left: 8px;
  overflow: hidden;
}

.filter .filter-item:first-of-type {
    margin-bottom: 54px;
  }

.filter .filter-item:last-of-type {
    margin-top: 25px;
  }

.filter-item legend {
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-cod-gray);
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--special-matterhorn);
  border-radius: 50%;
  opacity: 0.5;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: var(--special-matterhorn);
  border-radius: 50%;
  opacity: 0.5;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--special-matterhorn);
  border-radius: 3px;
  opacity: 0.5
}

.filter-input-checkbox:checked + label::before  {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  z-index: 1;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after  {
  opacity: 1;
}

.filter-input:disabled + label,
.filter-input:checked:disabled + label,
.filter-input:disabled:hover + label,
.filter-input:disabled:focus + label {
  color: var(--basic-cod-gray);
  opacity: 0.3;
  pointer-events: none;
}

.filter-button {
  margin-top: 30px;
  padding-top: 16px;
  padding-right: 89px;
  padding-left: 88px;
  color: var(--basic-black);
  background-color: var(--basic-whisper);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--special-gainsboro);
}

.filter-button:active {
background-color: var(--special-light-gray);
box-shadow: inset 0px 3px 0px var(--special-dark);
}

/* Sort */

.sort {
  margin-top: 37px;
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.sort-item {
  grid-area: sort;
  display: grid;
  grid-template-columns: 200px 471px 88px;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.filter-item legend,
.sort-item p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-type {
  display: flex;
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.sort-type-list{
  display: flex;
  width: 471px;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  align-self: center;
  text-transform: uppercase;
  list-style: none;
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.sort-type-list li {
  padding: 10px 13px 10px 14px ;
  opacity: 0.3;
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.sort-type-list li:last-child {
  padding-right: 0;
}

.sort-type-list .sort-type-current {
  opacity: 1;
}

.sort-type-list button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
}

.sort-type-list li:hover,
.sort-type-list li:focus {
  opacity: 0.6;
}

.sort-type-list li:active {
  opacity: 1;
}

.sort-control {
  display: flex;
  justify-content: flex-end;
  /* outline: 5px solid  rgba(10, 255, 2, 0.3);
  outline-offset: -5px; */
}
.sort-control-list {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  /* outline: 5px solid  rgba(10, 255, 2, 0.3);
  outline-offset: -5px; */
}

.sort-control-min{
  padding: 8px;
}

.sort-control-max{
  padding: 8px 0 8px 10px;
}

.control-min,
.control-max {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.control-min path,
.control-max path {
  fill: var(--special-gray-sort);
  opacity: 0.1;
}


.control-current svg path {
  fill: var(--special-black);
  opacity: 1;
}

.control-min path:hover,
.control-min path:focus,
.control-max path:hover,
.control-max path:focus  {
  fill: var(--special-gray-sort);
  opacity: 1;
}

/* Catalog */

.catalog {
  grid-area: catalog;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-aqua);
  outline-offset: -5px; */
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin-top: 30px;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;
  /* Скрыл рамки */
  /* outline: 5px solid  rgba(10, 255, 2, 0.3);
  outline-offset: -5px; */
}

.catalog-item {
  position: relative;
  width: 360px;
  height: 618px;
  margin: 0px 40px 31px 0;
  padding: 0;
  /* Скрыл рамки */
  /* outline: 5px solid  rgba(2, 6, 255, 0.3);
  outline-offset: -5px; */
}

.catalog-item:nth-child(2n),
.catalog-item:last-child {
  margin-right: 0px;
}

.catalog-item-strip {
  margin: 0;
  height: 40px;
}

.catalog-item-strip path{
  opacity: 0.1;
}

.catalog-item .catalog-item-link {
  position: relative;
  width: 360px;
  height: 580px;
  background-color: var(--special-white-smoke);
  border: 1px solid var(--special-white-smoke);
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  /* outline: 5px solid  rgba(2, 6, 255, 0.3);
  outline-offset: -5px; */
}

.catalog-item:hover .catalog-item-sample,
.catalog-item:focus .catalog-item-sample {
  display: block;
}

.catalog-item:hover .catalog-item-link,
.catalog-item:focus .atalog-item-link {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:hover path,
.catalog-item:focus path {
  opacity: 1;
}

.catalog-item-link img {
  width: 358px;
  height: 578px;
}

.catalog-item-sample {
  display: none;
  position: absolute;
  bottom: -1px;
  width: 360px;
  height: 231px;
  text-align: center;
  background-color: var(--basic-whisper);
  border-radius: 0 0 5px 5px;
}

.catalog-item-sample .catalog-item-name {
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  box-sizing: border-box;
  /* outline: 5px solid  rgba(2, 6, 255, 0.3);
  outline-offset: -5px; */
}

.catalog-item-name h3 {
  margin-top: 27px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  /* outline: 5px solid  rgba(2, 6, 255, 0.3);
  outline-offset: -5px; */
}


.catalog-item-sample h3:hover,
.catalog-item-sample h3:focus {
  color: var(--basic-red);
}

.catalog-item-sample h3:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.catalog-item-sample p {
  margin-top: -5px;
  margin-bottom: 34px;
  line-height: 18px;
  color: var(--basic-dim-gray);
  /* outline: 5px solid  rgba(2, 6, 255, 0.3);
  outline-offset: -5px; */
}

/* Button-catalog */

.button-catalog {
  padding-right: 73px;
  padding-left: 73px;
}

.button-catalog:hover,
.button-catalog:focus {
  background-color: var(--special-dark-red);
}

.button-catalog:active {
  background-color: var(--special-extra-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 600px;
  margin-bottom: 58px;
  padding: 0;
  list-style: none;
  /* Скрыл рамки */
  /* outline: 5px solid  var(--grid-indigo);
  outline-offset: -5px; */
}

.pagination-item a {
  display: block;
  padding: 17px 20px 15px;
  margin-right: 11px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-whisper);
  border-radius: 3px;
}

.pagination-item:last-child a{
  margin-right: 0;
  padding: 17px 77px 15px 78px;
  text-transform: uppercase;
}

.pagination-item-current a{
  padding: 14px 17px 12px;
  background-color: var(--special-white);
  border: 3px solid var(--special-border-gray);
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item-current a:hover,
.pagination-item a:focus,
.pagination-item-current a:focus {
  padding: 17px 20px 15px;
  background-color: var(--special-gainsboro);
  border: none;
}

.pagination-item a:active,
.pagination-item-current a:active {
  background-color: var(--special-light-gray);
  box-shadow: inset 0px 3px 0px var(--special-dark);
 }

 .pagination-item span:active {
   opacity: 0.3;
 }

.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus{
  padding: 17px 77px 15px 78px;
  background-color: var(--special-gainsboro);
  border: none;
  text-transform: uppercase;
}

.pagination-item:last-child a:active {
  background-color: var(--special-light-gray);
}


/* Main footer */
/* Location */

.container-footer {
  /* width: 1200px;
  margin: 0 auto;
  padding: 0 20px; */
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-yellow);
  outline-offset: -5px; */
}

.location {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 1440px;
  height: 416px;
  margin: 0 auto;
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-red-orange);
  outline-offset: -5px; */
}

.location iframe {
  /* display: none; */
  border: none;
}

.location-company {
  position: absolute;
  top: 54pxpx;
  width: 319px;
  height: 308px;
  margin: 0 140px;
  padding-top: 30px;
  padding-left: 50px;
  align-self: center;
  box-sizing: border-box;
  background-color: var(--basic-white);
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-magenta);
  outline-offset: -5px; */
}

.location-name {
  padding-top: 1px;
  padding-left: -2px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.location-address,
.contacts-phone  {
  padding-top: 5px;
  padding-left: -4px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-dim-gray);
}

.location-company p:last-of-type {
  margin-top: -1px;
}

/* Main footer */
/* Social-networks */

.social-networks {
  width: 1160px;
  height: 217px;
  display: grid;
  grid-template-columns: 400px 1fr;
  margin: 0 auto;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-aqua);
  outline-offset: -5px; */
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-indigo);
  outline-offset: -5px; */
}

.social li {
  padding-right: 12px;
}

.social-discount {
  align-self: center;
  color: var(--basic-black);
  /* Скрыл рамки */
  /* outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px; */
}

.social-discount p:first-child{
  margin: 0;
  padding-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

}

.social-discount p:last-child {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-charcoal);
}

/* Social button */

.social-button {
  position: relative;
  width: 78px;
  height: 78px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(0deg, var(--special-gradient-gray), var(--special-gradient-gray)), var(--basic-white);
}

.social-button .svg-vkontakte {
  position: absolute;
  top: 32px;
  left: 25px;
}

.social-button .svg-facebook {
  position: absolute;
  top: 30px;
  left: 32px;
}

.social-button .svg-instagram{
  position: absolute;
  top: 28px;
  left: 28px;
}


.social-button:hover,
.social-button:focus {
  background: linear-gradient(0deg, var(--special-gradient-red), var(--special-gradient-red)), var(--basic-white);
}

.social-button:active path{
  opacity: 0.3;
  mix-blend-mode: screen;
  background: linear-gradient(0deg, var(--special-gradient-dark-red), var(--special-gradient-dark-red)), var(--basic-white);
}

.social-button:active {
  background: linear-gradient(0deg, var(--special-gradient-dark-red), var(--special-gradient-dark-red)), var(--basic-white);
  box-shadow: inset 0px 3px 0px var(--special-dark);
}

/* Slider */

.site-wrapper {
  background-color: var(--basic-whisper);
}

.slider {
  position: relative;
  min-height: 440px;
  margin: -18px auto 0;
  padding-bottom: 0;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  padding-top: 30px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-item p:first-child {
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p:last-of-type {
  margin-bottom: 52px;
  color: var(--basic-cod-gray);
}

.slide-button {
  padding-top: 16px;
  padding-right: 55px;
  padding-left: 54px;
  text-decoration: none;
}

.slider-block {
  position: relative;
}

.slider-block-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-image-1 {
  background-image: url("../img/nerds-index-slide1.png");
}

.slider-image-2 {
  background-image: url("../img/nerds-index-slide2.png");
}

.slider-image-3 {
  background-image: url("../img/nerds-index-slide3.png");
}

.curent-slider-image {
  position: absolute;
  right: 3px;
  bottom: -93px;
  width: 760px;
  height: 431px;
  background-repeat: no-repeat;
}

.slider-controls {
  position: absolute;
  bottom: 4px;
  left: 536px;
  z-index: 5;
  display: flex;
  width: 88px;
  justify-content: space-between;
  z-index: 1;
}

.slider-controls .button-controls-slider {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current::after   {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  margin: 0;
  padding: 0;
  border: 2px solid var(--special-popup-gray);
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-show {
  display: block;
}

/* Modal login */

.modal-request {
  display: none;
  top: auto;
  bottom: 180px;
  width: 761px;
  height: 441px ;
  padding: 64px 100px 84px;
  z-index: 10;
  /* outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px; */
}

.modal-request p {
  margin-top: -2px;
  margin-bottom: 37px;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  /* outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px; */
}

.request-form {
  display: grid;
  grid-template-areas:
    "modal-name modal-email"
    "modal-comment-field modal-comment-field"
    "modal-request-button  modal-request-button";
  grid-template-columns: 400px 1fr;
  grid-template-rows: 111px 1fr auto;
}

.modal-request-form label {
  display: block;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-request-form input,
.modal-request-form textarea {
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-charcoal);
  opacity: 0.5;
}

.modal-request-form textarea {
  padding-top: 15px;
}


.modal-request-form input,
.modal-request-form textarea {
  border: 2px solid var(--special-pattens-blue);
  box-sizing: border-box;
  border-radius: 3px;
}

.modal-request-form input:hover,
.modal-request-form  textarea:hover {
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
  border-radius: 3px;
}


.modal-request-form input {
  width: 360px;
  height: 50px;
  /* padding-right: 40px; */
}

.modal-request-form textarea {
  width: 760px;
  height: 117px;
  margin-bottom: 41px;
}

.button-modal {
  margin-left: 1px;
  padding-right: 83px;
  padding-left: 83px;
}

.modal-name {
  grid-area: modal-name;
  /* outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px; */
}

.modal-email {
  grid-area: modal-email;
  /* outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px; */
}

.modal-comment-field {
  grid-area: modal-comment-field;
  margin-left: 1px;
  /* outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px; */
}

.modal-request-button {
  grid-area: modal-request-button;
  /* outline: 5px solid var(--grid-myrtle);
  outline-offset: -5px; */
}

/* Modal close */

.modal-close {
  position: absolute;
  top: 76px;
  right: 97px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close path:hover ,
.modal-close path:focus {
  fill: var(--basic-red);
  opacity: 0.3;
}

.modal-close path:active {
  fill: var(--basic-red);
  opacity: 0.1;
}
